@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  scroll-behavior: smooth;
}

.abouts {
  margin-top: 150px;
}

.abouts .headtext {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}

.abouts .headtext span {
  color: #3bbaa3;
}

.abouts .titletext {
  color: #b5b5b5;
  font-weight: 400;
  font-size: 18px;
}

body {
  background-color: #45475c;
  font-family: "Poppins", sans-serif;
}

nav .container .nav-item {
  padding-left: 30px;
}

nav .container .nav-item a {
  color: white !important;
  font-weight: 400;
}

nav .container .nav-item .active {
  color: #bc74e1 !important;
  font-weight: 500 !important;
}

/* .image img {
  width: 935px;
  height: 350px;
  margin-top: 140px;
} */

.about .title {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.about .title span {
  color: #3bbaa3;
}

.about .subtitle {
  padding-top: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #b5b5b5;
}

.service img {
  margin-bottom: 20px;
  width: 460px;
  height: 383px;
}

.tools .title {
  padding-top: 50px;
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.tools .title span {
  color: #3bbaa3;
}

.tools .card {
  height: 400px;
  background-color: #2f303d;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tools .card img {
  margin-top: 30px;
  width: 120px;
  height: 120px;
  text-align: center;
}

.tools .card .titles {
  font-size: 25px;
  color: #32a4f1;
  font-weight: 500;
  margin-top: 30px;
}

.tools .card .title2 {
  font-size: 25px;
  color: #0acf83;
  font-weight: 500;
  margin-top: 30px;
}

.tools .card .title3 {
  font-size: 25px;
  color: #ff7262;
  font-weight: 500;
  margin-top: 30px;
}

.tools .card .subtitle {
  padding-left: 15px;
  padding-right: 15px;
  color: #dedede;
  font-size: 18px;
}

.navbar-fixed-top.scrolled {
  background-color: #2f303d !important;
  /* box-shadow: 1px 1px 8px 1px white; */
}

@media (max-width: 970px) {
  .service img {
    width: 300px;
    height: 259px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .abouts .headtext {
    font-size: 35px;
    text-align: center;
  }

  .tools .card img {
    width: 90px;
    height: 90px;
  }

  footer .container .margin {
    margin-right: 20px;
  }
}

/* @media (max-width: 720px) {
  .tools .card img {
    width: 80px;
    height: 80px;
  }

  .tools .title {
    font-size: 14px;
  }

  .tools .subtitle {
    font-size: 12px;
  }
} */

@media (min-width: 346px) {
  .portofolio .card img {
    width: 100%;
  }

  .portofolio .card {
    width: 100%;
  }

  .about .title {
    font-size: 35px;
  }

  .tools .card {
    margin-top: 20px;
  }
}

.service .card {
  background-color: #2f303d;
  padding: 10px 20px 0px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.service .titles {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.service .card:hover {
  box-shadow: rgba(59, 168, 163, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.card .title1 {
  color: #3bbaa3;
  font-size: 25px;
  font-weight: 400;
}

.card .title2 {
  color: #bc74e1;
  font-size: 25px;
  font-weight: 400;
}

.card .title3 {
  color: #a9c7f9;
  font-size: 25px;
  font-weight: 400;
}

.card .subtitle {
  color: #dedede;
  font-size: 16px;
  font-weight: 300;
  padding-top: 0px;
}

.portofolio .title {
  padding-top: 50px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.portofolio a {
  text-decoration: none;
}

.portofolio span {
  color: #3bbaa3;
}

/* .portofolio .test {
  background-color: red;
} */

.portofolio .card {
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  background-color: #2f303d;
  margin-bottom: 20px;
  height: 300px;
  transition: 0.5;
}

.portofolio .card:hover {
  transition: 0.5s;
  box-shadow: rgba(59, 168, 163, 0.2) 0px 8px 24px;
}

.portofolio .card img {
  border-radius: 10px;
  height: 230px;
}

.portofolio .card p {
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding-top: 10px;
}

footer {
  height: 250px;
  background-color: #2f303d;
}

footer p {
  margin-top: 60px;
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}

footer img {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
